<h3>Home</h3>
<ul>
	 <% @portafolios.each do |portafolio| %>
	<li>
		
		      <tr>
		        <td><%= portafolio.descripcion %></td>
		        <td><%= portafolio.user.name %></td>
		        <td><%= link_to 'Show', user_portafolio_path(portafolio.user_id,portafolio) %></td>
		        <%= portafolio.impressionist_count(:filter=>:session_hash) %>
		      </tr>
		
	</li>
	<% end %>
</ul>
